/* Universal */

*{
    margin :0;
    padding : 0;
    box-sizing : border-box;
   
   }
.navegacion {
    display: flex;
    justify-content: space-around;
}
.navegacion img{
    width: 20px;
    height: 20px;
}

h2 {
    font-size: 24px;;
}

h4 {
    font-size: 18px;
    margin: 1rem;
}
/* Header*/
a{
    color: black;
    text-decoration: none;
}

a img{
    width: 20px;
    height: 20px;
}
li{
    list-style: none;
    line-height: 1.5rem;
}

li img{
    width: 20px;
    height: 20px;
}
.barra-imagen {
    background: url(louvre.jpg);
    background-position: top;
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.barra-imagen h1{
    font-size: 36px;
}

/* main*/

.columns {
  display: flex;
  justify-content: space-between;
}

.main-content {
    flex-basis: calc(50%);
    flex: 1
} 

.main-content.texto{
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.imagen-content {
    display: flex;
    flex-basis: calc(50%);
    
}

.texto-col1 {
    flex-basis: calc(70%);
    line-height: 30px;
 
}

.titulo-col1{
    margin: 50px;
    margin-bottom: 0;
    width: 500px;
    display: block;
    text-align: center;
    line-height: 2rem;
}

.second-content{
    flex-basis: calc(25%);
    line-height: 2rem;
    
}

.barra {
    display: flex;
    justify-content: space-between;
}

.terms{
    display: flex;
    flex-basis: calc(60%);
    justify-content: space-between;
}
